@model Integr8ed.Service.Dto.VisitorDto
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "Visitor";
    Layout = "~/Areas/ClientAdmin/Views/Shared/_Layout.cshtml";
}


<div class="main-content container-fluid">
    <div class="row">
        <div class="col-12 col-md-6 order-md-1 order-first">
            <div class="page-title">
                <h3>Visitor</h3>
            </div>
        </div>
        <div class="col-12 col-md-6 order-md-2 order-last">
            <nav aria-label="breadcrumb" class="breadcrumb-header">
                <ol class="breadcrumb">
                    @*<li class="breadcrumb-item"><a href="/ClientAdmin/Dashboard/index">Dashboard</a></li>*@
                    <li class="breadcrumb-item" aria-current="page">Datatable Menu</li>
                    <li class="breadcrumb-item active" aria-current="page">Visitor</li>
                </ol>
            </nav>
        </div>
    </div>
    <section id="multiple-column-form" class="">
        <div class="row match-height">
            <div class="col-12">
                <div class="card">
                    <div class="card-content">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-12 d-flex justify-content-end mb-2">
                                    <button type="button" id="btnAddNewVisitor" class="btn btn-primary">
                                        New Visitor
                                    </button>
                                </div>
                            </div>
                            <div class="col-md-12">
                                @* Table Start *@
                                <div class="table-responsive">
                                    <table class='table table-bordered table-striped' id="tblVisitor">
                                        <thead>
                                            <tr>
                                                <th scope="col"> First Name</th>
                                                <th scope="col"> Last Name</th>
                                                <th scope="col"> Email</th>
                                                <th scope="col"> Mobile Number</th>
                                                <th scope="col"> Address</th>
                                                <th scope="col">Actions</th>
                                            </tr>
                                        </thead>
                                    </table>

                                </div>
                                @* Table End *@
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>



@* New new_add_visitor Popup Start *@
@*<div class="modal fade" id="new_add_visitor" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
             </div>
        </div>
    </div>*@


@section Scripts{

    <script type="text/javascript">
        $(document).ready(function () {
            bindVisitor("#tblVisitor");
        });
        $(document).on("click", "#btnAddNewVisitor", function () {
            AddVisitor();
        });

        function bindVisitor(TableId) {
            if ($.fn.DataTable.isDataTable(TableId)) {
                $(TableId).dataTable().fnDestroy();
            }
            var tblCompanyDetail = $(TableId)
                .DataTable({
                    "bProcessing": true,
                    "bServerSide": true,
                    "sAjaxSource": "/ClientAdmin/Visitors/GetVisitorList",
                    "initComplete": function (settings, json) { },
                    "rowCallback": function (row, data, index) { },
                    "fnDrawCallback": function (oSettings) {
                        if (oSettings._iDisplayLength > oSettings.fnRecordsDisplay()) {
                            $(oSettings.nTableWrapper).find('.dataTables_paginate').hide();
                            $("#tblVisitor_info").hide();
                        } else {
                            $(oSettings.nTableWrapper).find('.dataTables_paginate').show();
                            $("#tblVisitor_info").show();
                        }
                    },
                    "order": [[1, ""]],
                    "language": {
                        "info": "Showing _START_ to _END_ of _TOTAL_Visitors",
                        "sInfoEmpty": "Showing 0 to 0 of 0 Visitors"
                    },
                    "columns": [
                        {
                            "data": "name",
                            "width": "5%",
                            "searchable": false,
                            "orderable": true,

                        },
                        {
                            "data": "surName",
                            "width": "5%",
                            "searchable": false,
                            "orderable": true,

                        },
                        {
                            "data": "email",
                            "width": "5%",
                            "searchable": false,
                            "orderable": true,

                        },
                      {
                            "data": "mobile",
                            "width": "5%",
                            "searchable": false,
                            "orderable": true,

                        },
                        //{
                        //    "data": "telephone",
                        //    "width": "5%",
                        //    "searchable": false,
                        //    "orderable": true,

                        //},
                        {
                            "data": "address",
                            "width": "5%",
                            "searchable": false,
                            "orderable": true,

                        },
                        {
                            "data": "id",
                            "autoWidth": true,
                            "searchable": false,
                            "orderable": false,
                            "render": function (data, type, row) {
                                var element = `<a onclick="AddVisitor('${row.id}', false, true);" title="Edit Email" class="editAsset icon_cust_button"><i class="fa fa-envelope" aria-hidden="true"></i></a>
|<a onclick="AddVisitor('${row.id}');" title="Edit" class="editAsset icon_cust_button"><i class="far fa-edit"></i></a> | <a onclick="AddVisitor('${row.id}',true);" title="View" class="detailsAsset icon_cust_button"><i class="far fa-eye"></i></a> | <a onclick="DeleteVisitor('${row.id}');" title="Delete" class="deleteAsset icon_cust_button"><i class="far fa-trash-alt"></i></a>`;
                                return element;
                            }
                        }
                    ]
                });

        }


        function AddVisitor(id = 0, isView = false, IsEmailEdit = false) {

            $("#modalContent").load(`/ClientAdmin/Visitors/_AddEditVisitor?id=${id}&isView=${isView}&IsEmailEdit=${IsEmailEdit}`, function () {
                ShowModal();
            });
        }

        function DeleteVisitor(id) {

            Integr8ed.Confirm("Delete Visitors", Integr8ed.typeModel.Warning, "Are you sure?", Integr8ed.typeModel.Danger, "Yes, delete it!", function () {
                $.ajax({
                    url: "/ClientAdmin/Visitors/RemoveVisitor",
                    data: { id: id },
                    type: "POST",
                    success: function (response) {
                        Integr8ed.HandleResponse(response);
                        closeModal();

                        bindVisitor("#tblVisitor");

                    },
                    error: function (data) {
                        console.log(data);
                    }
                });
            }
            );

        }

    </script>
}