@model Integr8ed.Service.Dto.UserDto
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers


<link href="~/css/sweetalert.css" rel="stylesheet" />
<script src="~/js/sweetalert.js"></script>

<form id="frmForgotPass" asp-action="ForgotPassword" asp-controller="Accounts" asp-area="ClientAdmin" method="post">
    <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Forgot Password</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <div class="modal-body">
        <div class="form-body">
            <div class="frmbodycontect">
                @Html.AntiForgeryToken()
                <div id="ErrorMsg" class="text-danger"></div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="first-name-column" class="form-label">Email *</label>
                            <input type="email" class="form-control" asp-for="Email" name="Email" id="Email" placeholder="Enter Email here ">
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="first-name-column" class="form-label">Company Code *</label>
                            <input type="text" class="form-control" asp-for="CompanyCode" name="CompanyCode" id="CompanyCode" placeholder="Enter Company Code here ">
                        </div>
                    </div>
                </div>
            </div>
            <div class="frmbodycontect_hide" style="display:none;">
                <div class="form-body">
                    Please check your email to reset your password.
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="submit" id="btnSave" class="btn btn-primary">Send</button>
    </div>
</form>

@*<div class="modal fade admin_modelpop" id="divModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true" data-backdrop="static">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                <div id="modalContent">
                    <div class='modal-body'>
                        <h4>Please check your email!</h4>
                        <div class='modal-footer'>
                            <button type='button' class='btn btn-secondary' data-dismiss='modal'>Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>*@


<script type="text/javascript">

    $(document).ready(function () {
      
        function callSweetMsg(msg) {
            
            swal({ title: "", text: msg, icon: "success" });
         
        }

        var validationresult = $("#frmForgotPass").validate({
            onfocusout: false,
            rules: {
                "Email": {
                    required: true,
                    email: true,
                    maxlength: 50,
                    normalizer: function (value) {
                        return $.trim(value);
                    },
                    //remote: {
                    //    url: "/ClientAdmin/Accounts/CheckUserEmail",
                    //    type: "GET",
                    //    data: { Email: $(".Email").val() }
                    //},
                },
                "CompanyCode": {
                    required: true,
                    normalizer: function (value) {
                        return $.trim(value);
                    },
                    remote: {
                        url: "/ClientAdmin/Accounts/CheckUserCompanyCode",
                        type: "GET",
                        data: { CompanyCode: $(".CompanyCode").val() }
                    },
                }
            },
            messages: {
                "Email": {
                    required: "Please enter a  Email",
                    maxlength: "More than 50 characters are not allowed !",
                    remote: "Email not exist !"
                },
                "CompanyCode": {
                    required: "Please enter a  Company Code",
                    remote: "Company Code not exist !"
                }
            },
            submitHandler: function (form) {
                let post_url = form.action;
                let form_data = $(form).serialize();
                
                $.ajax({
                    url: post_url,
                    data: form_data,
                    type: "POST",
                    success: function (response) {
                        callSweetMsg(response.message);  
                        if (response.status === 1) {
                
                            $("#divModal").modal("hide");
                           
                            return false;

                        }
                       
                    },
                    error: function (data) {
                    }
                });



            }

        });

        $("#btnSave").click(function (e) {
            if ($("#Email").val() != "" && $("#CompanyCode").val() != "") {


                $.ajax({
                    url: "/ClientAdmin/Accounts/CheckUserEmailAndCompanyCode",
                    data: { Email: $("#Email").val(), CompanyCode: $("#CompanyCode").val() },
                    type: "GET",
                    async: false,
                    success: function (response) {
                        if (response == false) {
                            $("#ErrorMsg").html("Email & Company Code doesn't match!");
                            e.preventDefault();
                        }
                        else {
                            $("#ErrorMsg").html("");

                        }
                    },
                    error: function (data) {
                        $("#ErrorMsg").html("Email & Company Code doesn't match!");
                    }
                });
                
            }
        });
    });

</script>
