
@{
    ViewData["Title"] = "RoomAvailability";
    Layout = "~/Areas/User/Views/Shared/_Layout.cshtml";
}

<div class="main-content container-fluid">
    <div class="row">
        <div class="col-12 col-md-6 order-md-1 order-first">
            <div class="page-title">
                <h3>Room Availability</h3>
            </div>
        </div>
        <div class="col-12 col-md-6 order-md-2 order-last">
            <nav aria-label="breadcrumb" class="breadcrumb-header">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Dashboard</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Room Availability</li>
                </ol>
            </nav>
        </div>
    </div>
    <section id="multiple-column-form" class="">
        <div class="row match-height">
            <div class="col-12">
                <div class="card">
                    <div class="card-content">
                        <div class="card-body">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

