@model Integr8ed.Service.Dto.UserDto
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="~/css/bootstrap.css">

    <link rel="stylesheet" href="~/vendors/chartjs/Chart.min.css">

    <link rel="stylesheet" href="~/vendors/perfect-scrollbar/perfect-scrollbar.css">
    <link rel="stylesheet" href="~/css/app.css">

    @*Custom CSS*@
    <link rel="stylesheet" href="~/css/custom-style.css">
    <link rel="stylesheet" href="~/css/responsive-custom-style.css">

    <link rel="shortcut icon" href="~/images/favicon.png" type="image/x-icon">
</head>

<body>


    <div id="auth" class="cust_auth">
        <div class="container custom_container">
            <div class="row card">
                <div class="col-md-6 col-sm-12 sprate_border">
                    <div class=" pt-3">
                        <div class="card-body">
                            <div class="custom_title_set">
                                <h3>Reset Password</h3>
                            </div>
                            <form id="frmResetPass" asp-action="ResetPassword" asp-controller="Accounts" asp-area="ClientAdmin" method="post">
                                @Html.AntiForgeryToken()
                                <input type="hidden" asp-for="Email" />
                                <input type="hidden" asp-for="CompanyCode" />

                                <div class="form-group  position-relative">
                                    <div class="clearfix">
                                        <label for="Password" class="control-label">New Password *</label>
                                        <div class="position-relative">
                                            <input type="password" class="form-control" asp-for="Password" id="Password" name="Password" placeholder="Enter Password here ">
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group position-relative">
                                    <div class="clearfix">
                                        <label for="ConfirmPassword">Confirm Password *</label>
                                        <div class="position-relative">
                                            <input type="password" class="form-control" id="ConfirmPassword" name="ConfirmPassword" placeholder="Enter Confirm Password here ">
                                        </div>
                                    </div>
                                </div>
                                <div class="clearfix">
                                    <button type="submit" id="btnSave" class="btn btn-primary float-right">Reset Password</button>
                                </div>
                            </form>
                            <div class="divider">
                                <div class="divider-text"></div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="social_media_link">

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-12">
                    <div class="side_logo_text_sec">
                        <div>
                            <div class="login_side_logo">
                                <img src="~/images/Integr8ed Systems_blank.png" />
                            </div>
                            <div class="login_main_text">
                                <p>
                                    With over 20 years experience in the industry INTEGR8ED SYSTEMS aims to provide its customers with the best possible ICT Solutions.
                                </p>
                                <p>
                                    Using dedicated ICT professionals that make technology work for SME businesses as it does already for the corporate sector.  We are a company that believes in strong partnerships and technical excellence and our aim is to provide our clients with quality solutions and services that deliver value quickly and efficiently.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @* script *@
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/feather-icons/feather.min.js"></script>

    <script src="~/js/app.js"></script>

    <script src="~/vendors/chartjs/Chart.js"></script>
    <script src="~/vendors/apexcharts/apexcharts.min.js"></script>

    <script src="~/js/main.js"></script>

    <script src="~/js/site.js" asp-append-version="true"></script>

    <script src="~/Bundle/Integr8ted_Js.js"></script>

    <script type="text/javascript">

        $(document).ready(function () {

            $(document).on("click", "#btnSave", function () {
                Validate();
            });

            function Validate() {
                var password = $("#Password").val();
                var confirmPassword = $("#ConfirmPassword").val();
                if (password != confirmPassword) {
                    Integr8ed.messages("Password & Confirm password doesn't match !");
                    return false;
                }
                return true;
            }

            $("#frmResetPass").validate({
                rules: {
                    "Password": {
                        required: true,
                        maxlength: 50,
                        normalizer: function (value) {
                            return $.trim(value);
                        }
                    },
                    "ConfirmPassword": {
                        required: true,
                        maxlength: 50,
                        equalTo: "#Password",
                        normalizer: function (value) {
                            return $.trim(value);
                        }
                    }
                },
                messages: {
                    "Password": {
                        required: "Please enter a  Password",
                        maxlength: "More than 50 characters are not allowed !"
                    },
                    "ConfirmPassword": {
                        required: "Please enter a  Confirm Password",
                        maxlength: "More than 50 characters are not allowed !",
                        equalTo: "Password & Confirm password doesn't match !"
                    }
                },
                submitHandler: function (form) {
                    let post_url = form.action;
                    let form_data = $(form).serialize();
                    $.post(post_url, form_data, function (response) {
                        window.location.href = "/";
                        Integr8ed.HandleResponse(response);
                        //if (response.status === 1) {
                        //    closeModal();

                        //}
                        //window.location.href = "";
                    });

                }
            });
        });
    </script>
</body>
</html>